<h1>Home</h1>
<p>Stuff here until I add stuff later</p>
<%= tag.hr %>
<%= tag.div({class: 'recent-posts'}) do %>
  <%= tag.h3 'Recent Posts' %>
  <% @posts.each do |post| %>
    <%= tag.div({class: 'post-summary'}) do %>
      <%= tag.h4 do %>
        <%= link_to post.title, post_path(post.id) %>
      <% end %>
      <%= post.content[0...250] %>...
    <% end %>
  <% end %>
<% end %>
<%= tag.hr %>
