<%= tag.div({class: 'text-center'}) do %>
  <h1>Posts tagged with <%= @category.name %></h1>
<% end %>
<%= tag.div do %>
  <% tag.ul do %>
    <% @category.posts.each do |post| %>
      <%= tag.li do %>
        <%= link_to post.title, post_path(post.id) %>
        <%= tag.p do %>
          Written by <%= post.user.full_name %> on <%= post.created_at.to_formatted_s(:long) %>
          <%= tag.br %>
          <%= post.description %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
