<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title><%= @title ? @title : TITLE %></title>
    <meta name="author" content="<%= @author ? @author : AUTHOR %>">
    <meta name="keywords" content="<%= @keywords ? @keywords : 'Colyer.me' %>">
    <meta name="description" content="<%= @description ? @description : 'Colyer.me' %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <%= render '/layouts/menu' %>
   <%= tag.div({class: 'container'}) do %>
     <%= tag.div({class: 'row'}) do %>
       <%= tag.div({class: 'col-sm-12'}) do %>
         <%= tag.p alert, {class: 'alert text-center'} %>
         <%= yield %>
       <% end %>
     <% end %>
   <% end %>
   <%= render '/layouts/footer' %>
   <%= javascript_tag({src: '//colyer-me.disqus.com/count.js', id: 'dsq-count-scr', async: true}) %>
  </body>
</html>
